GROQ_API_KEY=your_groq_api_key_here

INPUT_AUDIO_DIR=./input
OUTPUT_DIR=./output

MODEL=whisper-large-v3-turbo
LANGUAGE=
PROMPT=

RESPONSE_FORMAT=verbose_json
TIMESTAMP_GRANULARITIES=segment,word
TEMPERATURE=0
